* {
  box-sizing: border-box;
  background: #212121;
}

.square {
  background: #212121;
  border: 2px solid #121212;
  float: left;
  font-size: 50px;
  color: #1DB954; 
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
  background-color: red;
}

.status {
  display: flex;
  justify-content: center;
  background:  #121212;
  border: 2px solid #B3B3B3; 
  margin: 10px;
  padding: 2px;
  font-size: 15px;
  color: #1DB954; 
  font-weight: bold;
  
}

.game {
  display: flex;
  flex-direction: row; /* Arrange children side by side */
  justify-content: space-between; /* Distribute space between children */
  align-items: center;
  height: 100vh;
}

.game-board {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
}

.game-info {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
}
.game-info ol {
  list-style-type: none;
}

.time-travel{
    display: flex;
    justify-content: center;
    background:  #121212;
    border: 2px solid #B3B3B3; 
    margin: 5px;
    padding: 2px;
    height: 25px;
    width: 150px;
    font-size: 15px;
    color: #B3B3B3; 
    font-weight: bold;
    
}

